# Compiled output
.angular/
dist/
coverage/

*.pem

# Node
node_modules/

# IDEs and editors
.idea/*
!.idea/runConfigurations/
!.idea/prettier.xml
!.idea/jsLinters/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
