*
!*/

!*.json
!*.yaml
!*.yml
!*.ts
!*.[cm]ts
!*.js
!*.[cm]js
!*.html
!*.css
!*.scss

!.prettierrc

.angular/
dist/
reports/

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

node_modules/
