name: Pull request events
on:
    pull_request:
permissions:
    contents: read
    packages: read
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup environment
              uses: ./.github/actions/setup-environment
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: CI
              uses: ./.github/actions/ci
