name: Push to main branch
on:
    push:
        branches:
            - main
permissions:
    contents: read
    packages: write
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: CI
              uses: ./.github/actions/ci
    docker-build:
        name: Build and push Docker image
        needs: ci
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Build and push Docker image
              uses: ./.github/actions/docker-build
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
    e2e:
        name: E2E testing
        if: false
        needs: ci
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup PNPM
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v5
              with:
                  cache: pnpm
                  node-version-file: .tool-versions
                  cache-dependency-path: pnpm-lock.yaml

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Run E2E tests
              run: |
                  playwright install chromium
                  pnpm e2e
